
#popup-show {
    position: fixed;
    bottom: -10px;
    right: 20px;
    background-color:#eee;
    padding:10px;
    border:1px solid #aaa;
    box-sizing:border-box;
    height:10%;
    opacity:0;
    overflow:hidden;
    transition: bottom 1s, opacity 1s;
    animation: scanning 5s linear infinite;
}

#popup-show.open {
    bottom: 10px;
    opacity:1;
  }

/* 
  @keyframes scanning {
    0% {
        bottom: -50px;
    }
    50% {
        bottom: 30px;
        animation-delay: 5s;
    }
    100% {
        bottom: -50px;
    }
} */